$white: #fff;
$primary-color: #e67e22;
$primary-color-tint: #fdf2e9;
$primary-color-shade: #cf711f;
$grey-color: #555;
$grey-color-shade: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-size: 10px;
  // 10 / 16 = 0.65 = 65%
  // Percentage of user's browser font-size setting
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $grey-color;
}

.margin-right--sm {
  margin-right: 1.6rem !important;
}

section {
  background-color: #fdf2e9;
  padding: 9.6rem 0;

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 9.6rem;

    .text-box {
      &__heading {
        font-size: 5.2rem;
        line-height: 1.05;
        font-weight: 700;
        color: $grey-color-shade;
        letter-spacing: -0.05rem;
        margin-bottom: 3.2rem;
      }

      &__description {
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 4.8rem;
      }

      &__btn:link,
      &__btn:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        padding: 1.6rem 3.2rem;
        border-radius: 0.9rem;
        font-weight: 600;

        transition: background-color 0.3s;
      }

      &__btn {
        &--full:link,
        &--full:visited {
          background-color: $primary-color;
          color: #fff;
        }

        &--full:hover,
        &--full:active {
          background-color: $primary-color-shade;
        }

        &--outline:link,
        &--outline:visited {
          background-color: $white;
          color: $grey-color-shade;
        }

        &--outline:hover,
        &--outline:active {
          background-color: $primary-color-tint;

          //Trick to add border inside
          box-shadow: inset 0 0 0 0.3rem #fff;
        }
      }

      .customers-box {
        display: flex;
        margin-top: 8rem;
        align-items: center;
        gap: 1.6rem;

        .customers {
          flex-shrink: 0;

          &__img {
            height: 4.8rem;
            width: 4.8rem;
            border-radius: 50%;
            border: 0.3rem solid $primary-color-tint;
          }

          &__img:not(:last-child) {
            margin-right: -1.6rem;
          }
        }

        &__text {
          font-size: 1.8rem;
          font-weight: 700;

          span {
            color: $primary-color-shade;
          }
        }
      }
    }

    .img-box {
      &__image {
        width: 100%;
      }
    }
  }
}
