/* rem and em do not depend on html font size in media queries */
/* Instead 1rem = 1em = 16px */

/* 
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080
*/
/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/* below 1366px */
@media (max-width: 85.37em) {
  .hero {
    max-width: 128rem;
  }
}

/* below 1280px */
@media (max-width: 80em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }

  .hero {
    max-width: 120rem;
  }

  .testimonials-container {
    padding: 7.4rem 5.2rem;
  }

  .testimonials {
    column-gap: 6rem;
  }
}

/* below 1024px */
@media (max-width: 64em) {
  html {
    /* 8px */
    font-size: 50%;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-description {
    font-size: 1.8rem;
  }
}

/* below 875px */
@media (max-width: 54.69em) {
  .hero {
    grid-template-columns: 1fr;
    gap: 7.4rem;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .hero-description {
    font-size: 2.2rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
  }

  .hero-img {
    width: 80%;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-img {
    width: 8.2rem;
  }

  .feature-title {
    font-size: 2.2rem;
  }
}

/* below 768px */
@media (max-width: 48em) {
  html {
    /* 7px */
    font-size: 43.75%;
  }

  .cta-form input,
  .cta-form select {
    font-size: 1.6rem;
  }

  .meal-content {
    padding: 3.2rem;
  }
}

/* below 700px */
@media (max-width: 43.75em) {
  .grid {
    column-gap: 5.2rem;
    row-gap: 7.4rem;
  }

  .main-nav {
    display: none;
  }

  .logos {
    flex-direction: column;
    align-items: center;
    gap: 4.2rem;
  }

  .logos img {
    height: 4.2rem;
  }

  .cta-text-box {
    padding: 4.8rem;
  }

  .grid:not(:last-child) {
    margin-bottom: 7.4rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .meal-tags {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.4rem;
  }

  .meal-title {
    margin-bottom: 4rem;
  }

  .meal-attributes {
    gap: 2.8rem;
  }
}

/* below 600px */
@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

/* below 500 */
@media (max-width: 31.25em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .step-img-box:nth-child(3) {
    grid-row: 4 / 5;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal,
  .diets {
    width: 60%;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-plan {
    width: 60%;
  }

  .pricing-plan--starter {
    justify-self: auto;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    display: none;
  }

  .grid--footer {
    column-gap: 4.4rem;
    grid-template-columns: 1fr 1fr;
  }

  .address-col {
    text-align: end;
  }

  .nav-col {
    display: none;
  }
}

/* below 425px */
@media (max-width: 26.5625em) {
  .meal,
  .diets {
    width: 70%;
  }

  .pricing-plan {
    width: 80%;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
}

/* below 375px */
@media (max-width: 23.44em) {
  html {
    /* 5px */
    font-size: 31.25%;
  }
}
